*{
    margin:0;
    padding:0;
}

body{
    font-family: sans-serif;
    /* background-image: url(./img/logo.avif);
    /* background-image: url(./img/background.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
}

header{
    height: 100px;
    width: 100%;
    background-color: white;
    /* border: 1px solid ; */
}

nav{
    height: 100px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.N-Reach{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.N-Reach a{
    text-decoration: none;
    color: 
    #00afef;
}

.mid_nav a{
   padding: 10px 15px;
   color: black;
   text-decoration: none;
}

.mid_nav a:hover{
   color:#00afef;
}

.sign_in{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 1rem; */
}


.sign_in a{
padding: 15px 20px;
color: black;
text-decoration: none;
}


.sign_in a:hover{
    color:#00afef;
 }
    
/* main */
.logo{
  position: absolute;
 margin-top: 5%;
 margin-left: 5%;
 line-height: 3rem;
 color: black;
}

.home{
    height: 400px;
    width: 100%;
}

.home2{
    height: 200px;
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 10px;
}

.home2 .right{
  padding-top: 2rem;
}

select{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 10px;
    outline: none;
}

.career{

    height: 700px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 20px;
}

.career1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    line-height: 2rem;
}

.career1 img{
    border-radius: 5px;
}

.right{
    width: 50%;
    text-align: center;
}

form input{
    /* text-align: center; */
    
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 10px;
    outline: none;
}

button{
    padding: 15px 30px;
    color: white;
    background-color: #00afef;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
}